<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="body">
<h1 class="heading">THIS IS THE HOME PAGE</h1>
<p>Lorem ipsum dolar sit amet, consectetur adipising elit.
    Assumenda eaque ex inventore minima officia quaerat sit voluptatibus.
    Deserunt dolore eligendi eum perferendia provident quidam reiciendis suscipit.
    At deleniti voluptatum?</p>

</body>
</html>